html, body{
    font-family: $mainFont;
}

.btn{
    padding:15px 25px 15px 25px;
    border-radius:25px;
    font-weight:100;
    margin:20px 0 20px 0;
    color:$whiteText;
    float:left;
    background-color:$darkGreyBackground;
    font-size:$disclaimerSize;
    text-transform:uppercase;
    text-decoration:none;
    transform:scale(1);
    transition:transform 0.5s;

    &:hover{
        opacity:1;
        transform:scale(1.05);
    }
}

header{
    z-index:99999;
    position:fixed !important;
    top:0;
    left:0;
    background-color: #ffffff;

    @at-root .logged-in header{
        top:32px;
    }

    @media(max-width:830px){
        margin-bottom:0;

        .cont{
            width:calc(100% - 60px);
            margin:0 30px 0 30px;
        }
    }

    .topBar{
        background-color: $darkGreyBackground;
        color: $whiteText;
        font-size:0.75em;
        font-weight:bold;
        text-transform:uppercase;
        padding:15px 0 15px 0;
        height:25px;

        @media(max-width:990px){
            font-size:10px;
        }

        @media(max-width:$big-mobile){
            padding:10px 0 10px 0;
        }

        p.headline{
            float:left;
            height:0px;
            padding:3.5px 0 12.5px 0;

            @media(max-width:$big-mobile){
                width:100%;
                text-align:center;
            }
        }

        .contactSection{
            float:right;

            @media(max-width:$big-mobile){
                display:none;
            }
            
            a{
                color: $whiteText;
                float:left;
                text-decoration:none;
                margin:0 15px 0 0;
                padding:5px 0 0 0;
                opacity:1;
                transition:opacity 0.5s;

                &:hover{
                    opacity:0.5;
                }
                
                img{
                    width:20px;
                    height:auto;
                    margin:1px 10px 0 0;
                    float:left;
                }

                &.social{
                    margin:0 10px 0 0;
                    padding:0;

                    img{
                        width:25px;
                        margin:0;
                        padding:0;
                    }
                }
            }

            a:nth-of-type(2){
                img{
                    margin-top:-2px;
                }
            }

            .quote-link{
                height:35px;
                padding:20px 15px 0px 15px;
                margin:-15px 0 0 15px;
            }
        }
        
    }

    .logo{
        float:left;
        margin:15px 0 5px 0;
        position:relative;
        width:120px;

        @media(max-width:$big-mobile){
            width:100px;

            img{
                width:100%;
                height:auto;
            }
        }
    }

    .mobile-show{
        display:none;

        @media(max-width:900px){
            display:block;
            float:right;
            color:$darkGreyBackground;
            font-size:35px;
            padding:10px;
            text-transform:uppercase;
            margin-bottom:10px;
            margin-top:10px;
        }
    }

    .main-nav{
        @media(max-width:$big-mobile){
            display:none;
        }
    }

    .menu-main-menu-container ul{
        float:right;
        margin-top:50px;
        position:relative; 
            
        li{
            float:left;
            margin:0 0 0 40px;
            padding-bottom:40px;
            border-bottom:5px solid #fff;
            transition:border 1s;

            @media(max-width:1040px){
                font-size:14px;
            }

            @media(max-width:950px){
                font-size:12px;
            }

            a{
                text-decoration:none;
                color:$darkText;
                text-transform:uppercase;
                font-weight:700;
            }

            &:nth-child(5), &:nth-child(4){
                position:relative;

                .sub-menu{
                    opacity:0;
                    pointer-events:none;
                    width:165%;
                    left:-50px;
                    top:14px;
                    background:#fff;
                    padding:50px;
                    position:absolute;
                    box-shadow:0px 5px 5px rgba(0,0,0,0.5); 

                    @media(max-width:1200px){
                        left:-70%;
                    }

                    @media(max-width:1050px){
                        left:-90%;
                    }

                    li{
                        width:100%;
                        float:left;
                        padding:0;
                        margin:0 0 5px 0;

                        a{
                            text-decoration:none;
                            opacity:1;
                            transition:opacity 0.5s;

                            &:hover{
                                opacity:0.5;
                            }
                        }

                        &:hover{
                            border-bottom:5px solid #fff;
                        }
                    }
                }
            }

            &:nth-child(4){
                .sub-menu{
                    width:300%;
                }
            }

            .sub-menu{
                opacity:0;
                pointer-events:none;
                width:115%;
                left:-15%;
                top:14px;
                background:#fff;
                padding:50px;
                position:absolute;
                box-shadow:0px 5px 5px rgba(0,0,0,0.5); 

                li{
                    width:calc(33% - 40px);
                    float:left;
                    padding:0;

                    a{
                        text-decoration:none;
                        opacity:1;
                        transition:opacity 0.5s;

                        &:hover{
                            opacity:0.5;
                        }
                    }

                    &:hover{
                        border-bottom:5px solid #fff;
                    }

                    .sub-menu{
                        width:100%;
                        position:relative;
                        float:left;
                        background:none;
                        padding:0;
                        box-shadow:none;
                        top:auto;
                        left:auto;
                        margin-top:20px;

                        li{
                            width:100%;
                            margin:0 0 5px 0;
                            padding:0;
                            opacity:1;
                            transition:opacity 0.5s;

                            a{
                                color:#000;
                            }

                            &:hover{
                                border-bottom:5px solid #fff;
                                opacity:0.5;
                                
                            }
                        }
                    }
                }
            }

            &:hover{
                border-bottom:5px solid #000;

                .sub-menu{
                    opacity:1;
                    pointer-events:auto;
                }
            }
        }

        li.current_page_item{
            padding-right:20px;

            a{
                text-decoration:underline;
            }
        }

        @media(max-width:830px){
            li{
                width:calc(100% - 20px);
                float:left;
                padding:10px;

                a{
                    font-size:$paragraphSize;
                }
            }
        }
    }

    .mobile-menu{
        //display:none;
        background-color: $darkGreyBackground;
        color: $whiteText;
        font-size:0.75em;
        position:absolute;
        left:100%;
        width:70%;
        height:100vh;
        transition:left 1s;

        &.active{
            left:30%;
        }

        nav{
            width:100%;
            float:left;
            position:relative;
            margin-bottom:50px;

            .close{
                font-size:50px;
                position:absolute;
                right:0;
                top:0;
                width:50px;
                color:#fff;
            }

            .menu-main-menu-container ul{

                li{
                    width:100%;
                    float:left;
                    border-bottom:none;
                    color:#fff;
                    margin:0;
                    position:relative;

                    a{
                        color:#fff;
                        margin-bottom:0;
                        position:relative;
                        margin:5px 0 5px 0;
                        width:70%;
                    }

                    &.menu-item-has-children a:after{
                        content:'\25be';
                        position:absolute;
                        right:0;
                        top:0;
                        color:#fff;
                        transform:rotate(0deg);
                        transition:all 0.5s;
                    }

                    &.menu-item-has-children.active a:after{
                        transform:rotate(180deg);
                    }

                    .sub-menu{
                        width:calc(100% - 10px);
                        max-height:0;
                        overflow:hidden;
                        left:auto;
                        top:auto;
                        background:none;
                        opacity:1;
                        padding:0 0 0 10px;
                        margin:0;
                        position:relative;
                        box-shadow:none;
                        transition:all 0.5s;

                        &.active{
                            max-height:300px;
                        }
        
                        li{
                            width:100%;
                            float:left;
                            padding:0;
        
                            a{
                                color:#fff;
                                text-decoration:none;
                                opacity:1;
                                margin:5px 0 5px 0;
                                width:auto;
                            }
        
                            a:after{
                                display:none;
                            }
        
                            &:hover{
                                border-bottom:0 !important;
                            }
        
                            .sub-menu{
                                width:calc(100% - 10px);
                                position:relative;
                                float:left;
                                background:none;
                                padding:0 0 0 10px;
                                margin:0;
                                box-shadow:none;
                                top:auto;
                                left:auto;
        
                                li{
                                    width:100%;
                                    margin:0 0 5px 0;
                                    padding:0;
                                    opacity:1;
                                    transition:opacity 0.5s;
        
                                    a{
                                        color:#9b9fa0;
                                    }
        
                                    &:hover{
                                        border-bottom:5px solid #fff;
                                        opacity:0.5;
                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        a{
            width:calc(100% - 40px);
            padding:0 20px 0 20px;
            margin:0 0 10px 0;
            float:left;
            color:#fff;
            background-color: $darkGreyBackground;
            color: $whiteText;
            font-size:1em;
            text-decoration:none;

            &.contact-link{

                img{
                    margin-right:10px;
                    float:left;
                }

                span{
                    margin-top:2px;
                    float:Left;
                }
            }

            img{
                width:30px;
                height:auto;
            }

            &.social{
                width:auto;
                float:left;
                margin:0 5px 10px 0;
                padding:0;

                &.first{
                    margin-left:20px;
                }
            }

            &.quote-link{
                background-color:#000;
                height:35px;
                padding:20px 20px 0px 20px;
                margin:0;
                width:calc(100% - 40px);
            }
         }
    }
}

.headerPadding{
    height:169px;

    @media(max-width:$big-mobile){
        height:140px;
    }
}

footer{
    background:$darkGreyBackground;
    padding:30px 0 30px 0;
    min-height:150px;
    text-align:center;

    .copyright{
        display:inline-block;
        color:$whiteText;
        font-size:0.75em;
        width:auto;
        color:#9b9fa0;
        text-align:center;
        padding:0 10px 0 10px;
        font-weight:700;

        @media(max-width:$bp-mobile){
            width:100%;
        }
    }

    a{
        display:inline-block;
        color:$whiteText;
        font-size:0.75em;
        width:auto;
        text-align:center;
        padding:0 10px 0 10px;
        border-left:1px solid #9b9fa0;
        color:#9b9fa0;
        text-decoration:none;
        font-weight:700;

        @media(max-width:$bp-mobile){
            width:100%;
            border-left:0;
        }
    }

    img.usa{
        display:block;
        margin:0 auto;
        margin-top:50px;
    }
}

h1{
    width:100%;
    font-size:$largeHeadline;
    color:$darkText;
    font-weight:700;
}

h2{
    width:100%;
    font-size: $midHeadline;
    font-weight:700;
    color:$darkText;
    margin:0 0 10px 0;
}

h3{
    font-weight:bold;
    font-style:italic;
    font-size:$paragraphSize;
    margin:0 0 10px 0;
}

p{
    line-height:140%;
}

.grad-bg{
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2476ba+0,15a3e0+100 */
            background: rgb(36,118,186); /* Old browsers */
            background: -moz-linear-gradient(left, rgba(36,118,186,1) 0%, rgba(21,163,224,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(36,118,186,1) 0%,rgba(21,163,224,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(36,118,186,1) 0%,rgba(21,163,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2476ba', endColorstr='#15a3e0',GradientType=1 ); /* IE6-9 */
}ww

.fancybox-overlay{
    z-index:99999 !important;
}

.page-template-default{
    .hero{
        width:calc(100% - 60px);
        padding:119px 30px 119px 30px;
        position:relative;

        &:after{
            content:' ';
            background-image:url(../images/header-lines-bkg.svg);
            background-size:cover;
            background-position:center center;
            width:100%;
            height:100%;
            top:0;
            left:0;
            position:absolute;
        }

        h1{
            text-align:center;
            color:$whiteText;
            font-size:2.3em;
            position:relative;
            z-index:99;
       }
    }
}

.placeholder{
    min-height:1200px;
}